fontPath = '../fonts/'

importFont('Font Name', 'font-mname', 400, normal, fontPath)


/**
*  Fonts
*/

FontName = 'FontName', 'Helvetica', sans-serif

/**
* 	@section main colors
*/

white = #FFFFFF
black = #000000


/**
* 	@section template colors
*/

bg-color = black

